<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context
 				http://www.springframework.org/schema/context/spring-context-4.1.xsd">
 
  
  <bean id="jsonProvider"
        class="org.codehaus.jackson.jaxrs.JacksonJsonProvider">
  </bean>
 
 	<bean id="jacksonObjectMapper" class="org.codehaus.jackson.map.ObjectMapper">
    	<property name="serializationInclusion" value="NON_NULL"/>
	</bean>
	
    <bean id="mongoUtil" class="com.mediaocean.shopping.util.MongoUtil"/>
    
    <bean id="mongoResource" class="com.mediaocean.shoppingcart.dao.mongo.impl.MongoResource">
    	<property name="dbUri" value="mongodb://localhost:27017/rf_maphub_temp?ssl=false"/>
    	<property name="dbName" value="shoppingcart"/>
    </bean>
    
    <bean id="itemDAOMongoImpl" class="com.mediaocean.shoppingcart.dao.mongo.impl.ItemDAOMongoImpl">
    	<property name="mongoResource" ref="mongoResource"/>
    	<property name="mongoUtil" ref="mongoUtil"/>
    	<property name="collectionName" value="items"/>
    </bean>
	     
</beans>